.container {
  display: flex;
  flex-direction: column;
  margin: 0px 150px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.name {
  color: #e34b36;
  margin: 0;
}

.tags {
  list-style: none;
  padding-left: 0;
}

.tags li {
  display: inline-block;
  border-radius: 50px;
  border: 1px;
  background: #244d3b;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding: 7px 15px;
  margin: 4px;
}

.infoEmphasis {
  color: #e34b36;
}

.infoTable {
  border-collapse: collapse;
}

.infoTable th {
  padding: 1rem 0;
  vertical-align: top;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Poppins;
}

.infoTable tr {
  border-bottom: 0.5px solid #244d3b;
}

.infoTable td {
  padding: 1rem 0;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
