/* Navigations */
header {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  padding: 15px 80px;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
  margin-left: 50px;
}

/* Hero */

.hero-section {
  margin-top: 80px;
  background-image: url(./assets/hero.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.content {
  position: absolute;
  max-width: 450px;
  top: 80px;
  left: 80px;
}

.overlay {
  background: linear-gradient(180deg, rgba(224, 223, 231, 0.15) 48%, #fff 100%);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

/* Footer */
footer {
  background-color: var(--green);
  padding: 50px 80px 36px;
}

footer * {
  color: var(--white);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid var(--white);
  padding-bottom: 10px;
}

.footer-content li a,
.footer-content li button {
  font-size: 14px;
}
.footer-tagline {
  max-width: 360px;
}
.copyright-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.socials {
  display: flex;
  gap: 15px;
}
/* Stars */
.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline; /* Optional: additional hover effect */
}

.star-button {
  background: none;
  border: none;
  cursor: pointer;
  color: transparent;
}

.star-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: transparent; /* Keep the star transparent initially */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Simulate border */
}

.star-button.saved {
  color: yellow; /* Change to yellow when saved */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Keep border effect */
}

.details-hero {
  background-color: #fafafa;
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
