/* Navigations */
header {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  padding: 15px 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2efef;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
  margin-left: 50px;
}

/* Hero */

/* .hero-section {
  margin-top: 80px;
  background-image: url(./assets/hero.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
} */

/* Footer */
footer {
  background-color: var(--green);
  padding: 50px 80px 36px;
}

footer * {
  color: var(--white);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid var(--white);
  padding-bottom: 10px;
}

.footer-content .nav-links a {
  color: var(--white);
}

.footer-content li a,
.footer-content li button {
  font-size: 14px;
}
.footer-tagline {
  max-width: 360px;
}
.copyright-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.socials {
  display: flex;
  gap: 15px;
}
@media only screen and (max-width: 768px) {
  footer {
    padding: 50px 40px 36px;
  }

  nav {
    padding: 15px 10px;
    display: block;
  }
  .nav-left {
    display: block;
    text-align: center;
  }
  .nav-right {
    display: none;
  }
  .nav-links {
    justify-content: center;
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 8px;
  }
  .logo {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }

  nav svg {
    width: 100%;
  }

  .footer-content .nav-links {
    justify-content: flex-start;
    gap: 15px;
  }
  .footer-content {
    display: block;
  }
}
